
/* Chrome Frame prompt
 * ------------------------------------------------ */

.chromeframe {
    margin: 0 0 .5em;
    background: #ddd;
    color: #000;
    font-weight: 600;
    padding: 0.4em 1em;
    text-align: center;
}